@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --green:#57799c;
    --medical: #24303c;
    --black:#444;
    --light-color:rgb(51, 47, 47);
    --box-shadow:.5rem .5rem 0 rgba(22, 70, 160, 0.2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--medical);
}

body {
  font-family: 'Poppins', sans-serif;
  background: #3a2121;
  background-image: url('imagenes/mouse.jpg');
  background-size: cover;
  margin:0; padding: 0;
  box-sizing: border-box;
  outline: none; 
  border: none;
  text-transform: capitalize;
  transition: all .2s ease-out;
  text-decoration: none;
}

/*INDEX*/

.menu {
  list-style: none;
  padding: 0;
  background: #24303c;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  border-radius: 50px;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
  display: inline-block;
  text-align: center;
}

.menu a:hover {
  background: #3f5266;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  padding: .5rem;
  padding-left: 1rem;
  border:var(--border);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  color:var(--green);
  cursor: pointer;
  font-size: 1.7rem;
  background: #fff;
}

.btn span{
  padding:.7rem 1rem;
  border-radius: .5rem;
  background: var(--green);
  color:#fff;
  margin-left: .5rem;
}

.btn:hover{
  background: var(--green);
  color:#fff;
}

.btn:hover span{
  color: var(--medical);
  background:#fff;
  margin-left: 1rem;
}

.form-register {
  width: 400px;
  background: #3f5266;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
  border-radius: 50px;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.form-register h5 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

/*INDEX*/


/*ESPECIALIDADES*/

.especialidad {
  width: 105%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #13347c;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  border-radius: 50px;
}

.form-register .botons:hover{
  cursor: pointer;
  background: rgba(255, 255, 255, 0.74);
  color: #13347c;

}

.title {
  text-align: center;
  font-size: 40px;
  color: #4c4d4d;
  margin-top: 75px;
  font-weight: 100;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 1000px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.container .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img {
  width: 330px;
  height: 220px;
}

.container .card h4 {
  font-weight: 600;
}

.container .card p {
  padding: 0 2rem;
  font-size: 12.8px;
  font-weight: 300;
}

.container .card a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
}

/*ESPECIALIDADES*/


/*CONTACTO*/

.book .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.book .row .image{
  flex:1 1 27.5rem;
}

.book .row .image svg{
  width: 100%;
}

.containerEmojis{
  width: 440px;
  height: 440px;
  display: flex;
  margin: 0 auto;
}

.circulo--emojiCorazon{
  fill: #ff486b;
}

.corazon--emojiCorazon{
  fill: white;
  transform-origin: center;
  animation: animation--corazon 2s ease-out infinite;
}

@keyframes animation--corazon {
  25%{ transform: scale(1.1);}
  50%{ transform: scale(1);}
  75%{ transform: scale(1.1);}
}


.book .row form{
  flex: 95rem;
  background: #fff;
  border:var(--border);
  box-shadow: var(--box-shadow);
  text-align: center;
  padding: 2rem;
  border-radius: .5rem;
}

.book .row form h2{
  color:var(--black);
  padding-bottom: 1rem;
  font-size: 2.8rem;
}

.book .row form .box{
  width: 100%;
  margin:.7rem 0;
  border-radius: .5rem;
  border:var(--border);
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  padding: 0.4rem;
}

.book .row form .btn{
  font-weight: 300;
  font-size: 1rem;
  padding:1rem 4rem;
  border: none;
  border-radius: .5em;
  background: var(--green);
  color: #fff;
}

.book .row form .btn:hover{
  font-weight: 300;
  font-size: 1rem;
  padding:1rem 4rem;
  border: none;
  border-radius: .5em;
  background: #3f5266;
  color: #fff;
}

.form{
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0, 0, 0 / 30%);
  text-align: center;
}

.form-container{
  margin-top: 3em;
  display: grid;
  gap: 2.5em;

}

.form-group{
  position: relative;
  --color: #57575e;

}

.form input{
  width: 100%;
  background: none;
  color: #706C6C;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
  font-family: 'Poppins', sans-serif
}


.form-input:not(:placeholder-shown){
  color: var(--medical);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
  transform: translateY(-12px) scale(.7);
  transform-origin: left top;
  color: var(--green);

}

.form-label{
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: trasnform .5s, color .3s;

}

.form-line{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--green);
  transform: scale(0);
  transform: left bottom;
  transition: transform .4s;
}

.form-input:focus ~ .form-line,
.form-input:not(:placeholder-shown) + .form-line{
  transform: scale(1);
}


/*CONTACTO*/    


/*QUIENES SOMOS*/

.about .row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:2rem;

}

.about .row .image{
  flex:1 1 45rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content{
  flex:1 1 45rem;
}

.about .row .content h3{
  color: var(--black);
  text-shadow: var(--text-shadow);
  font-size: 4rem;
  line-height: 1.8;
}

.about .row .content p{
  color: var(--light-color);
  padding:1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
}

/*QUIENES SOMOS*/


/*FOOTER PARA TODOS LOS MODULOS*/

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap:2rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color:var(--black);
  padding: 1rem 0;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  color:var(--light-color);
  padding: 1rem 0;
}

.footer .box-container .box a i{
  padding-right: .5rem;
  color:var(--green);
}

.footer .box-container .box a:hover i{
  padding-right:2rem;
}

.footer .credit{
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  color:var(--light-color);
  border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span{
  color:var(--green);
}

/*FOOTER PARA TODOS LOS MODULOS*/


/* MEDIA QUERIES RESPONSIVE */
@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding: 2rem;
  }

  section{
      padding:2rem;
  }

}

@media (max-width:768px){

  #menu-btn{
      display: initial;
  }

  .header .navbar{
      position: absolute;
      top:115%; right: 2rem;
      border-radius: .5rem;
      box-shadow: var(--box-shadow);
      width: 30rem;
      border: var(--border);
      background: #fff;
      transform: scale(0);
      opacity: 0;
      transform-origin: top right;
      transition: none;
  }

  .header .navbar.active{
      transform: scale(1);
      opacity: 1;
      transition: .2s ease-out;
  }

  .header .navbar a{
      font-size: 2rem;
      display: block;
      margin:2.5rem;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

}